.feedback-heading-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 16px;
  /* font-family: Roboto; */
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.46000000834465027px;
  text-align: left;
}
.form-layout {
  width: 306px;
  height: 379px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}
.add-icon {
  width: 91px !important;
  height: 91px !important;
  color: rgb(27, 62, 177);
}
.form-container {
  margin-top: 50px;
  margin-left: 50px;
}

.new-form-text {
  text-align: center;

  font-size: 20px;
  font-weight: 500;
  /* line-height: 51.2px; */
}
